<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body class="page-transition">
        {% include svg-icons.html %}
        {% include reading-progress.html %}
        {% include header-post.html %}
        {% include toc.html %}
        <section class="post" itemscope itemtype="http://schema.org/BlogPosting">

            <article role="article" id="scroll" class="post-content" itemprop="articleBody">
                {{ content }}
            </article>

            {% include share.html %}
            {% include related-posts.html %}
            {% include author.html %}
            {% include comments.html %}
            {% include footer.html %}
        </section>
        {% include theme-toggle.html %}
        {% include mobile-nav.html %}
    </body>
</html>
